<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta" id="user-comment">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text" id="comment-text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>