<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Just Recipes</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <header>
        <h1>
            <a href="/">Just Recipes</a>
        </h1>

        <nav>
            {{!-- {{#if loggedIn}} --}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
            {{!-- {{else}} --}}
            <a href="/login">login</a>
            {{!-- {{/if}} --}}
            <button id="search-btn">Search</button>
            <input type="text" id="search-input" />
            

        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    {{!-- {{#if loggedIn}} --}}
    <script src="/javascript/edamam-api.js"></script>
    {{!-- {{/if}} --}}

</body>

</html>