<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Just Recipes</title>
<<<<<<< HEAD
    {{!-- <link rel="stylesheet" href="/stylesheet/style.css"> --}}
=======
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />

    <link rel="stylesheet" href="/stylesheet/style.css">
>>>>>>> 6ad4dcc820a7146fba48b18866d404b96f337ec0
</head>

<body>
    <header>
        <h1>
            <a href="/">Just Recipes</a>
        </h1>

        <nav>
            {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
            {{else }}
            <a href="/login">login</a>
            {{/if }}
            <button id="search-btn">Search</button>
            <input type="text" id="search-input" />


        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>

  
  {{/if}}

</body>

</html>
 <script src="/javascript/edamam-api.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>