<section>
  <h2>Add New Recipe</h2>

  <form class="new-recipe-form">
    <div>
      <label for="recipe-title">Title</label>
      <input type="text" id="recipe-title" name="recipe-title" />
    </div>
  


<ul uk-accordion="multiple: true">
    <li class="uk-closed">
        <a class="uk-accordion-title " href="#">Step 1</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>
   <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 2</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>
      <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 3</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>

    <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 4</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>
   <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 5</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>


    <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 6</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>

    <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 7</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>

    <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 8</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>

    <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 9</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>


    <li class="uk-closed">
        <a class="uk-accordion-title" href="#">Step 10</a>
        <div class="uk-accordion-content">
   <div>
      <label for="ingredient-title">ingredient</label>
      <input type="text" id="ingredient-title" name="ingredient-title" />
    </div>
 <div>
      <label for="measurement-title">measurement</label>
      <input type="text" id="measurement-title" name="measurement-title" />
    </div>


    <div>
      <label for="step_text">step description</label>
      <input id="step_text" name="step_text" />
    </div>
           </div>
    </li>



</ul>


    <button type="submit" class="btn">Create</button>
  
  

  
  
  </form>



</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}







<script src="/javascript/add-post.js"></script>